
    <div class="blogs-and-pages">
            <div class="each-blog">
                <div class="blog-title">
                    <a href="#"><h4>{{entry.title}}</h4></a>
                    <span class="blog-date">创建于{{formatDate entry.meta.createAt}}</span>
                    <span class="blog-update">更新于{{formatDate entry.meta.updateAt}}</span>
                </div>
                <div class="each-blog-text">
                    <!--//content需要转码,否则出现<p>content</p>,所以需要三个大括号-->
                    <p>{{{entry.content}}}</p>
                    <div class="clear-both"></div>
                </div>
                <div class="btn btn-primary btn-pdf" >
                    <a href="/yes/PDF/{{entry._id}}">导出PDF</a>
                </div>
            </div>
            <div class="reviews">
        {{#each review}}
                <div class="each-review">
                    <p class="review-title"><span class="review-name">{{author}}</span>&nbsp;&nbsp;<span class="review-date"> {{formatDate createAt}}</span></p>
                    <p>{{content}}</p>
                </div>
        {{/each}}
            </div>
        <div class="clear-both"></div>
    </div>
    <div class="comment-box comment">
            <input type="text" class="form-control" id="reviewer" placeholder="用户名">
            <textarea type="text" class="form-control" id="review" placeholder="评论...." ></textarea>
            <button id="publicReview" class="btn btn-primary" type="submit"><a  >发表评论</a></button>
    </div>
    <div class="clear-both"></div>

<script src="/blog/addReview.js"></script>